<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Sentry Appender -->
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level> <!-- Sentry는 ERROR 이상만 기록 -->
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Local Profile -->
    <springProfile name="local">
        <!-- 로컬 환경에서는 Console 로깅만 활성화 -->
        <root level="INFO"> <!-- 디버깅용 로그 활성화 -->
            <appender-ref ref="Console" />
            <appender-ref ref="Sentry" />
        </root>
    </springProfile>

    <!-- Development Profile -->
    <springProfile name="develop">
        <!-- 개발 환경에서는 Console과 Sentry 로깅 모두 활성화 -->
        <root level="INFO">
            <appender-ref ref="Console" />
            <appender-ref ref="Sentry" />
        </root>
    </springProfile>

    <!-- Production Profile -->
    <springProfile name="production">
        <!-- 운영 환경에서는 Console과 Sentry 로깅 모두 활성화 -->
        <root level="INFO">
            <appender-ref ref="Console" />
            <appender-ref ref="Sentry" />
        </root>
    </springProfile>

</configuration>